html, body {
  /* ensure that all of the viewport is used */
  width: 100%;
  height: 100%;
  /* ensure that no scrollbars appear */
  margin: 0;
  padding: 0;
  /* center SVG horizontally and vertically */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  /* Dark mode */
  background-color: black;
  color: gray;
  font-family: sans-serif;
}

svg {
  /* ensure 1:1 aspect ratio, tweak the number to make SVG larger */
  width: 75vmin;
  height: 75vmin;
}

.resetBtn {
  fill: darkred;
  stroke-width: 0;
}

.solveBtn {
  fill: darkgreen;
  stroke-width: 0;
}

.tutorial2 {
  display: block;
}

.transparent {
  fill: #00000000;
  stroke-width: 0;
}

.hide {
  display: none
}
